<%- include("header") -%>
<div class="box" id="heading">
    <h1>About</h1>
</div>
<div class="container box">
  
    <p>Welcome to the ToDo List app! Our app helps you stay organized and manage your tasks efficiently. Create, update, and prioritize your tasks with our user-friendly interface. Set due dates, add reminders, and categorize your tasks for better organization. Access your ToDo List anytime, anywhere, and never miss a deadline again!</p>
  
    <p>Experience the power of efficient task management. Stay productive, stay organized with the ToDo List app!</p>
  </div>
  

<%- include("footer") -%>


